@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)),
                url('../img/moss.png');
}

#center {
    background-color: rgba(26, 26, 26, 0.5);
    margin: auto;
    width: 75%;
    padding-top: 2px;
}

#content {
    padding-left: 8px;
    padding-right: 8px;
}